DEBUG=True
SECRET_KEY=your_secret_key_here
NOWPAYMENTS_API_KEY=your_nowpayments_sandbox_api_key
NOWPAYMENTS_IPN_SECRET=your_nowpayments_ipn_secret
CELERY_BROKER_URL=redis://localhost:6379/0
GOOGLE_CLIENT_ID=your_google_client_id
